<h1><%= @restaurant.name %></h1>
<p>Address: <%= @restaurant.address %></p>

<h3>Reviews</h3>

<% @restaurant.reviews.each do |review| %>
<div>
  (<%= "*" * review.stars %>) <%= review.content %>
</div>
<% end %>
<br />

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %> |
<%= link_to "More about the chef", chef_restaurant_path(@restaurant) %> |
<%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
<%= link_to "Remove this restaurant", restaurant_path(@restaurant), method: :delete %> |
<%= link_to "Back to Restaurants", restaurants_path %>
